@media (max-width: 1200px) {
  .container {
    font-size: 14px;
  }
  .right img {
    width: 40em;
  }
}

@media (max-width: 992px) {
  .container {
    font-size: 13px;
  }
  .right img {
    width: 35em;
  }
  .big {
    bottom: -75px;
    height: 4em !important;
    width: 8em !important;
    font-size: 2em !important;
  }
  .factHead {
    padding-left: 20em;
  }
}

@media (max-width: 768px) {
  .container {
    font-size: 12px;
  }
  .manubar {
    flex-direction: column;
  }
  h3 {
    margin-bottom: 1em;
  }
  .manus ul li a {
    font-size: 1.3em;
  }
  .teamWork {
    flex-direction: column;
  }
  .galary {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5em;
  }
  .galary img {
    width: 13em;
    border: 0.1em solid #a59430;
  }
  h3 {
    margin-bottom: 0.3em;
  }
  .feture h3 {
    padding-bottom: 0;
  }
  .feture {
    align-items: center;
    width: 70%;
    padding-top: 1.5em;
  }
  .new {
    padding-bottom: 5em;
  }
  .moreFeture {
    flex-direction: column;
  }
  .left {
    width: 45em;
    margin-bottom: 2em;
  }
  .factSign {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .sep {
    width: 23em;
    margin-bottom: 1em;
  }
  .factHead {
    padding-left: 15em;
  }
  .sponsors img {
    width: 8em;
  }
}

@media (max-width: 576px) {
  .container {
    font-size: 12px;
  }
  .imageHead img {
    width: 40em;
  }
  .galary img {
    width: 10em;
    grid-template-columns: repeat(2, 1fr);
  }
  .sep {
    width: 35em;
  }
  .factHead {
    padding-left: 5em;
    margin-top: 4em;
    margin-bottom: 3em;
  }
  .sponsors {
    width: 40em;
    padding-bottom: 0;
  }
  .sponsors img {
    width: 6em;
  }
}

@media (max-width: 440px) {
  .container {
    font-size: 12px;
  }
  .imageHead img {
    width: 20em;
  }
  .galary img {
    width: 7em;
  }
  .detailCard {
    width: 25em;
  }
  .left p {
    width: 15em;
  }
  .factHead {
    padding-left: 5em;
    width: 20rem;
  }
  .sponsors {
    width: 0;
  }
  .right img {
    width: 25em;
  }
  .left {
    width: 30em;
  }
  .sep {
    width: 20em;
  }
  .sponsors {
    display: block;
  }
  .sponsors img {
    display: none;
  }
}

@media (max-width: 340px) {
  .container {
    font-size: 12px;
  }
  .left {
    width: 25em;
  }
  .galary {
    grid-template-columns: repeat(2, 1fr);
  }
  .factHead {
    width: 27em;
  }
  .right img {
    width: 20em;
  }
}
