/* colors

#a59430
#d0bd58
#ecdf8c */
/* header section  */
/* .....................  */
.manubar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
} */
.logo:hover {
  cursor: pointer;
}
.logo span {
  color: #a59430;
}
/* .manus {
} */
.manus ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 16em;
}
/* .manus ul li {
} */
.manus ul li a {
  cursor: pointer;
  text-transform: capitalize;
  color: #a59430;
}
.manus ul li a:hover {
  text-decoration: underline;
  text-decoration-color: #a59430;
  color: #d0bd58;
}

/* .....................  */
.back {
  background-color: aliceblue !important;
  padding-top: 4em;
  padding-bottom: 4em;
}
.superHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5em 0px !important;
}

.superHead h2 {
  font-size: 3em;
  padding-bottom: 5px;
}

.superHead p {
  padding-bottom: 10px;
  width: 70%;
}

/* .....................  */
.imageHead {
  padding-bottom: 5em;
}
.imageHead img {
  width: 60em;
  border-radius: 10px;
}

/* main section  */
.teamWork {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.galary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
}
.galary img {
  width: 15em;
}
/* .....................  */
.feture {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 35%;
}
.feture h3 {
  padding-bottom: 0.5em;
}
.feture p {
  padding-bottom: 0.5em;
  text-align: start !important;
}
.feture span {
  color: #a59430;
}

/* .....................  */

.moreFeture {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.left {
  width: 30em;
}
.left h3 {
  text-align: start !important;
  border-left: 0.3em solid #a59430;
  padding-left: 0.3em;
  margin-bottom: 0.6em;
}
.left p {
  text-align: start !important;
  margin-bottom: 0.5em;
}
.detailCard {
  text-align: start !important;
}
.detailCard h6 {
  text-align: start !important;
}
.card {
  box-shadow: inset 1px 6px 25px 1px rgba(236, 223, 140, 1);
  border: 0.1em solid #a5933045;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 4px;
}
.right {
  position: relative;
}
.big {
  position: absolute;
  bottom: -65px;
  height: 5em !important;
  width: 9em !important;
  left: -12px;
  font-size: 2.5em !important;
}
.right img {
  width: 85%;
}
.new {
  padding-bottom: 6em;
  padding-top: 5em;
}
/* ............. ..................... */

.facts {
}

.factHead {
  width: 35em;
  padding-left: 25em;
  margin-bottom: 3em;
  margin-top: 4em;
}
.factHead h3 {
  text-align: center !important;
}
.factHead p {
  text-align: center !important;
}

.factSign {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sep {
  border: 0.1em solid #a59430;
  padding: 1em;
  border-radius: 10px;
  width: 15em;
}
.sep:hover {
  transition: all 0.3s linear;
  background-color: #ecdf8c;
  cursor: pointer;
}
.sep img {
  filter: brightness(0) invert(0.5);
}
.sponsors {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 65em;
  margin: 0 auto;
  padding-bottom: 3em;
}

.sponsors img {
  filter: brightness(0) invert(0.5);
  width: 10em;
}

/* footer section  */

.foot {
  padding: 2em;
  background-color: #a59430;
  margin-bottom: 0px !important;
}
.foot p {
  color: white;
}
.foot a {
  text-decoration: dashed;
}
